<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- CSS only -->
        <script src="https://kit.fontawesome.com/1e25b81810.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/static/assets/js/script.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <span><img src="/static/assets/images/logo.jpg" alt=""></span>
                <div>
                    <h1>Asansol Engineering College</h1>
                    <h3>Engaging Talent Discovering Ideas </h3>
                </div>
            </div>
            <div class="logo">
                <span><img src="/static/assets/images/makaut.png" alt=""><img src="/static/assets/images/jisTechnoLogo.png" alt=""></span>
            </div>

        </div>