    <div class="sideNav">
      <ul>
        <li class="active">
          <i class="fa-solid fa-border-none"></i> Dashboard
        </li>
        <li><i class="fa-regular fa-user"></i> Profile</li>
        <li><i class="fa-solid fa-graduation-cap"></i> Add Marks</li>
        <li><i class="fa-regular fa-comment-dots"></i> Message</li>
        <li><i class="fa-regular fa-file-lines"></i> Upload Questions</li>
      </ul>
    </div>